nav {
  display: flex;
  justify-content: space-between; /* deu um espaço entre os elementos*/
  align-items: center; /* Alinhou ao centro do bloco*/
  line-height: 0; /* Tirou espaços sobrando */
  padding-block: 20px;
}

nav ul {
  list-style: none; /*Tirou as bolinhas da ordem*/
  display: flex;
  align-items: center;
  gap: 24px; /*colocou espaço entre elementos*/
  padding-block: 8px; /*Deu padding top e bottom (blcok)*/
  font: var(--text-md);
}
nav ul li:last-child img {
  width: 40px;
  height: 40px;
  align-items: center;
}
